.navbar
{
    height: 60px;
    display: flex; align-items: center
}

.profile-img-card
{
    width: 20%;
    height: auto;
    margin-top: 14px;
}

.header-text
{
    font-size: 14px !important;
    white-space: nowrap;
}

