@import views.html.helper._
@import forms.SignUpForm.CredentialsSignUpData

@(signUpForm: Form[CredentialsSignUpData])(implicit messages: Messages)

@main("Регистрация") {
    <h1>Welcome to Play!</h1>

    @form(action = routes.SignUpController.submit) {
        @inputText(signUpForm("name"))
        @inputText(signUpForm("lastName"))
        @inputText(signUpForm("position"))
        @inputText(signUpForm("email"))
        @inputPassword(signUpForm("password"))
        @inputPassword(signUpForm("confirmPassword"))
        <button type="submit">Отправить</button>
    }
}